﻿@import url('https://fonts.googleapis.com/css?family=Oswald');

@font-face {
  font-family: gravity;
  src: url(../fonts/gravity.otf);
}

@font-face {
  font-family: Tabloid Scuzzball;
  src: url(../fonts/TabloidScuzzball.otf);
}

@font-face {
  font-family: Highlander;
  src: url(../fonts/Highlander.ttf);
}

@keyframes slideright {
  0% {
    margin-left: 0px
  }

  100% {
    margin-left: 110%
  }
}

@keyframes zoomin {
  0% {
    width: 100%;
    height: 100%;
    opacity: 0.1
  }

  300% {
    width: 300%;
    height: 300%;
    opacity: 0
  }

  100% {
    width: 100%;
    height: 100%;
    opacity: 0.3
  }
}

body {
  overflow: hidden;
  background-color: rgb(200, 200, 200);
  box-shadow: 0 0 500px rgba(0, 1, 1, 1) inset;
  background-color: rgb(200, 200, 200);
  margin: 0;

}
.razem{
  position: absolute;
  z-index: 5;
  height: 5px;
  width: 50%;
  display: block;
  -moz-animation: liniarainbow linear 5s infinite alternate-reverse, kreska100 7s infinite;
  -webkit-animation: liniarainbow linear 5s infinite alternate-reverse, kreska100 7s infinite;
  animation: liniarainbow linear 5s infinite alternate-reverse, kreska100 7s infinite;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
}
.kreska {
  top: 0%;
  left: 0%;
}
.kreska2 {
  right: 0;
  bottom: 0%;
}

@keyframes kreska100 {
  0% {
    width: 0%;
  }

  25% {
    width: 100%;

  }

  50% {
    width: 0%;
  }

  75% {
    width: 100%;
  }

  100% {
    width: 0;
  }

}

@-moz-keyframes kreska100 {
  0% {
    width: 0%;
  }

  25% {
    width: 100%;

  }

  50% {
    width: 0%;
  }

  75% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

@-webkit-keyframes kreska100 {
  0% {
    width: 0%;
  }

  25% {
    width: 100%;

  }

  50% {
    width: 0%;
  }

  75% {
    width: 100%;
  }

  100% {
    width: 0;
  }
}

.video-background {
  background: #000;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: -99;
  filter: contrast(1.5);
}

.video-foreground,
.video-background iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
}


.slideright {
  animation-name: slideright;
  animation-duration: 3.2s;
}

.zoomin {

  animation-name: zoomin;
  animation-duration: 4.2s;
  justify-content: center;


}

* {
  font-family: gravity;
  color: rgb(230, 230, 230);

  animation-name: hammer;
  animation-duration: 10s;
}





.content-container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%)
}

progress {
  margin-top: 5px;
}

progress[value] {
  -webkit-appearance: none;
  appearance: none;

  width: 100%;
  height: 30px;
}

​ progress[value]::-webkit-progress-bar {
  background-color: rgb(60, 60, 60);
  border-radius: 20px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}

progress::-webkit-progress-value {
  animation-name: example;
  animation-duration: 10s;
  animation-play-state: running;
  border-radius: 20px;
  background-size: 60px 30px, 100% 100%, 100% 100%;
}

.pbCollapse {
  width: 24.63% !important
}

/*
    General purpose classes.
*/
.stick-to-right {
  float: right;
}

.hide {
  display: none;
}

.loading-text {
  display: inline-block;
}

/*
    Messages styling + fade in and fadeout animations
*/
#message {
  opacity: 1;
  transition: opacity 0.3s;
}

/*
    Music player styling.
*/
#music-info {
  padding: 20px;
}

#player {
  display: none;
}

#now-playing {
  font-size: 0.9em;
  margin: 0;
  padding: 0;
}

.icon-button {
  color: white;
  font-size: 24px;
  display: inline-block;
  padding-top: 10px;

}

#volumeSlider {
  width: 200px;
  height: 15px;
  -webkit-appearance: none;
  background: rgba(255, 255, 255, 0.1);
  outline: none;
  position: absolute;
  margin-top: 15px;
  margin-left: 10px
}

#volumeSlider::-webkit-slider-thumb {
  -webkit-appearance: none;
  width: 10px;
  height: 25px;
  background: white;
}

#cursor {
  position: absolute;
  z-index: 1;
  pointer-events: none;
}

#log {
  list-style-type: none;
  font-size: 0.66em;
  margin: 0;
  padding-right: 10px;
  padding-bottom: 10px;
  position: fixed;
  right: 0;
  bottom: 0;
}

#log>li {
  color: red;
}

@media (min-aspect-ratio: 16/9) {
  .video-foreground {
    height: 300%;
    top: -100%;
  }
}


@media all and (max-width: 600px) {
  .vid-info {
    width: 50%;
    padding: .5rem;
  }

  .vid-info h1 {
    margin-bottom: .2rem;
  }
}

@media all and (max-width: 500px) {
  .vid-info .acronym {
    display: none;
  }
}

.loading {
  margin: 0 auto;
  padding: 5px 0;
  position: absolute;
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  font-weight: 400;
  color: #dae0db;
  letter-spacing: 10px;
  left: 50%;
  transform: translateX(-50%);
}

@-moz-keyframes liniarainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@-webkit-keyframes liniarainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

@keyframes liniarainbow {
  0% {
    background-position: 0% 82%
  }

  50% {
    background-position: 100% 19%
  }

  100% {
    background-position: 0% 82%
  }
}

.line1,
.line2,
.line3 {
  width: 100%;
  height: 4px;
  margin-left: auto;
  margin-right: auto;
  -moz-animation: liniarainbow linear 5s infinite alternate;
  -webkit-animation: liniarainbow linear 5s infinite alternate;
  animation: liniarainbow linear 5s infinite alternate;
  background: linear-gradient(124deg, #ff2400, #e81d1d, #e8b71d, #e3e81d, #1de840, #1ddde8, #2b1de8, #dd00f3, #dd00f3);
  background-size: 1800% 1800%;
  border: 0 none;
}

.line1 {
  margin-top: 60px;
  margin-bottom: 10px;
}

.line2 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.line3 {
  margin-top: 15px;
  margin-bottom: 10px;
}

.tekst1 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.discord {
  font-family: 'Oswald', sans-serif;
  font-size: 25px;
  text-align: center;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.tekst2 {
  font-family: 'Oswald', sans-serif;
  font-size: 30px;
  text-align: center;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.tekst3 {
  font-family: 'Oswald', sans-serif;
  font-size: 20px;
  text-align: center;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
  padding-bottom: 10px;
}



.klawiszologia {
  font-family: 'Oswald', sans-serif;
  font-size: 29px;
  text-align: center;
  color: white;
  text-shadow: -0.5px 0 black, 0 0.5px black, 0.5px 0 black, 0 -0.5px black;
}

.partner {
  vertical-align: middle;
  text-align: center;
}